{% extends 'base.html' %}

{% block title %} My Articles {% endblock %}

{% block content %}


<table class="table">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Title</th>
            <th scope="col">Updated Time</th>
            <th scope="col">x</th>
        </tr>
    </thead>
    <tbody>
        {% for article in articles %}
        <tr>
            <th scope="row">{{article.id}}</th>
            <td>{{ article.title}}</td>
            <td>{{article.updated_time}}</td>
            <td>x</td>
        </tr>
        {% endfor %}
    </tbody>
</table>


<nav aria-label="Page navigation example">
    <ul class="pagination justify-content-end">
        {% if articles.has_previous %}
        <li class="page-item">
            <a class="page-link" href="?page={{articles.previous_page_number}}" tabindex="-1"
                aria-disabled="true">Previous</a>
        </li>
        {% else %}
        <li class="page-item disabled">
            <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Previous</a>
        </li>
        {% endif %}

        <li class="page-item"><a class="page-link" href="#">{{articles.number}}</a></li>
        {% if articles.has_next %}
        <li class="page-item">
            <a class="page-link" href="?page={{articles.next_page_number}}">Next Page</a>
        </li>
        <li class="page-item">
            <a class="page-link" href="?page={{articles.paginator.num_pages}}">End Page</a>
        </li>

        {%endif%}


    </ul>
</nav>

{% endblock %}